
.ProjectsContainer {
    margin-top: -30px;
    background: f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 390px;
    position: relative; 
}

.ProjectsTextContainer {
    position: relative;
    z-index: 3;
    max-width: 1200px;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
}

.ProjectsTextContainer h1 {
    color: #16214C;
    font-size: 48px;
    text-align: center;
}

.ProjectsTextContainer p {
    margin-top: 24px;
    color: #000;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
}

.ProjectsContent {
    width: 100%;
    position: relative;
    padding: 8px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    margin-top: 50px;
}

.ProjectCard {
    border-radius: 15px;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    width: auto;
    min-height: 200px;
    border: 1px solid transparent;
    margin: 10px; 
    min-height: 200px;
    min-width: 150px;
}

.ProjectCardIcon i{
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 10px;
    color: #16214C;
}

.ProjectCardTitle {
    color: black;
    font-size: 20px;
    text-align: center;
    max-width: 600px;
}

/* Hover Effects */
.ProjectCard:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, 
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.2s ease-in-out;
    
}

/* Media Quieries */
@media (max-width: 1500px) {
    .ProjectsContent {
        padding: 8px 75px;
    }

    .ProjectCard {
        min-height: 150px;
    }

    .ProjectCardIcon i{
        font-size: 3rem;
    }
}

@media (max-width: 1200px) {
    .ProjectsContent {
        padding: 8px 10px;
    }

    .ProjectCard {
        min-height: 140px;
    }

    .ProjectCardIcon i{
        font-size: 2rem;
    }
}

@media (max-width: 1000px) {
    .ProjectCardIcon {
        font-size: 2rem;
    }

    .ProjectCardTitle {
        font-size: 17px;
    }

    .ProjectCardTitle {
        font-size: 20px;
        font-family: 'Encode Sans Expanded';
    }
}

@media (max-width: 750px) {
    .ProjectsTextContainer h1 {
        font-size: 40px;
    }

    .ProjectsTextContainer p {
        font-size: 24px;
    }



    .ProjectCardTitle {
        visibility: hidden;
        display: none;
    }
}

@media (max-width: 450px) {
    .ProjectsTextContainer h1 {
        font-size: 32px;
    }

    .ProjectsTextContainer p {
        font-size: 18px;
    }

    .ProjectCard {
        min-height: 80px;
    }

    .ProjectCardIcon i{
        font-size: 1.5rem;
    }
}